VITE_SUPABASE_URL=https://mlydfspmrkaedsocubku.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1seWRmc3BtcmthZWRzb2N1Ymt1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5ODMyNTEsImV4cCI6MjA4ODU1OTI1MX0.qXEnRpP2PFWPSPEKuomgcNBQYdTqquNCvAHqJIrl1JQ
